<!-- {{ 'style.plp-sort.css' | asset_url | stylesheet_tag }}

<div class="sort">
    <div class="sort__wrapper">
        <div class="sort__by">
            <label class="sort__label" for="sort_select">Sort By</label>
            <select class="sort__select" id="sort_select">
                <option class="sort__option" value="All">All</option>
            </select>
        </div>
        <div class="sort__collections">
            <label class="sort__label" for="sort_collections">Collections</label>
            <select class="sort__select" id="sort_collections">
                <option value="All">All</option>
            </select>
        </div>
    </div>
</div> -->