#body{
    font-family: 'SF New Republic';
    background-color: #F3E7E0;
}

h1, .h1{
    font-family: 'SF New Republic';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
}
h2, .h2{
    font-family: 'SF New Republic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1D1D1D;
    margin: 0;
}
h3, .h3{
    font-family: 'SF New Republic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1D1D1D;
    margin: 0;
}
h4, .h4{
    font-family: 'SF New Republic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1D1D1D;
    margin: 0;
}